/* Brands CSS */

.popular_section_heading > h5 {
    margin: 0;
    text-transform: uppercase;
}

.single_brands {
    border: 2px solid $border-color;
    padding: 15px;
    border-radius: 3px;
}